<nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Logo_Mezzo_BW.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sign-up">sign-up</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="nav-icons">
        <a href="#"><i class="fab fa-facebook-f nav-icon"></i></a>
        <a href="#"><i class="fab fa-twitter nav-icon"></i></a>
        <a href="#"><i class="fab fa-instagram nav-icon"></i></a>
        <a href="#"><i class="fab fa-linkedin nav-icon"></i></a>
      </div>
    </div>
  </div>
</nav>