
<div class ="container col-lg-5 col-md-offset-4 col-md-8 col-md-offset-2 col-xs-4 card-dimension">
    <div class="card card-centered ">
    <div class="card-header card text-white bg-info ">
        Connexion
    </div>
    <div class="card-body">
    <form action="#" method="post"> 
    <div class="row">
        <div class="col-md-12">
        <input type="text" class="form-control" name="username" placeholder="Pseudo" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <input type="text" class="form-control" name="password" placeholder="Mot de passe" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="#"class="title-link"><u>Mote de passe oublié?</u></a>
    </div>
    <div class="col-lg-6">
        <button type="submit" class="btn btn-info clearfix">Connexion</button>
    </div>

    </div>
    
    
    </form>
    </div>
    </div>
    </div>    
   
