
<section id="home" class="video-section js-height-full">
    <div class="overlay"></div>
    <div class="container-fluid">
        <h1 class="big-heading">Mezzo <br>le Partenaire de la Relation Client <br>Sur-Mesure</h1>
        <button type="button" class="btn  title-btn"> READ <span class="btn-other-color">More</span></button>
        <a href="#"class="title-link"><u>WHY DO YOU NEED OUR SERVICES?</u></a>
    <div class="slider-bottom">
        <span>Explore <i class="fa fa-angle-down"></i></span>
    </div>
</div>
</section>

<div class="ccc">    
<h2> <strong>Our Marketing Services. </strong>  </h2>
<div  color="#bdc3c7"  > 
     Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Duis eget ligula quis libero mollis dapibus. 
    Suspendisse potenti.Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Duis eget ligula quis libero mollis dapibus. 
    Suspendisse potenti. Nullam facilisis neque et sem. 
    Proin placerat adipiscing 
</div>
<form>
    <input type="button" value="1.nfjnwlkqnrglknl" class="aaa" id="b1"  >    <input type="button" value="2.nfjnwlkqnrglknl" class="aaa" id="b2"  > <input type="button" value="1.nfjnwlkqnrglknl" class="aaa" id="b3" >
</form>
</div> 
<div style="margin-left: 260px; margin-top: 70px;margin-bottom: 50px;">
<table>
<tr>
<td> 
  <h3 margin="0px 0px 20px 20px"> <strong> Promote Your Products </strong>  </h3>  
<p  color="#bdc3c7" margin="0px 0px 50px 50px">    Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Duis eget ligula quis libero mollis dapibus. 
    Suspendisse potenti.Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Duis eget ligula quis libero mollis dapibus. 
    Suspendisse potenti. Nullam facilisis neque et sem. 
    Proin placerat adipiscing  </p>
    <button class="aaa"> READ MORE</button>
</td>
<td></td> <td></td>
<td>      <img src="assets/images/centre-appel-tunisie.jpg" height="200px" width="400px" style="margin-right:260px ;"> </td>
    </tr>
</table>
</div>
      <div style="background-color: black;" >
                <table >
        <tr >
   <td> <p  class="div" style="font-size:x-large;" > <b>  We are ready for you contact us now ! </b> </p> </td>
   <td></td> <td></td> <td></td>
<td> <b> <input type="button" class="aaa" id="b4" value="Contact us" style="margin-top:15px ; margin-left: 400px;"></b> </td>
</tr>
</table>

<table>
<tr>
<td> <img src="assets/images/centre-appel-tunisie.jpg" height="300px" width="200px" style="margin-right: 160px; margin-left: 260px;" > </td> <td> <img src="assets/images/centre-appel-tunisie.jpg" height="300px" width="200px" style="margin-right: 160px;" ></td> <td><img src="assets/images/centre-appel-tunisie.jpg" height="300px" width="200px"></td>
</tr>
<tr> 
    <td>

<p style="margin-left: 320px;color: white"> <b> Ornare Elit </b></p>  </td> <td> <p style="margin-left: 30px;color: white"> <b>  Egestas bebendum </b> </p> </td> <td> <p style="margin-left: 30px;color: white"> <b> Parturient Venenatis </b></p> </td> 
</tr>
<tr> 
  <td>  <p style="margin-left: 330px; color: white;">  Business </p>  </td> <td> <p style="margin-left: 60px;color: white">   Consultance  </p> </td> <td> <p style="margin-left: 70px;color: white">  Business </p> </td> 
</tr>
</table>
</div>



<app-footer></app-footer>

























